<h1><%= @page.capitalize%> Results </h1>
<dl>
<dt>Minimum</dt>
<dd><%= @minimum%></dd>
<dt>Maximum</dt>
<dd><%= @maximum%></dd>
<dt>Random Number</dt>
<dd><%= @result %></dd>
</dl>
<a href="/<%= @page %>/new">Pick another random number</a>
